html {
    box-sizing: border-box;
} 

* {
    box-sizing: inherit;
} 

body {
    color: #000;
    font-family: 'Mate', 'Lucida Bright', 'Times New Roman', serif;
    margin: 0;
}

#heading {
    font-family: 'Josefin Sans', 'Verdana', 'Futura', sans-serif;
    text-align: center;
    padding: 1rem;
    max-width: 650px;
}

#button {
    background: #BD9168;
    font-size: 1.5rem;
    margin: 5rem 0;
}

#genreBox {
    padding: 2rem;
    border-style: double;
    font-size: 2rem;
    margin: 0 0 5rem 0;
    background: #D3B79C;
}

.books {
    background: #D3B79C;
}

p {
    padding: 2rem;
    font-size: 1.5rem;
}


nav ul {
    background: #D3B79C;
    align-items: center;
    text-align: center;
}


nav ul li {
    margin: 0;
    margin-left: 2rem;
    display: inline-block;
}

.description {
    font-size: 1rem;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

footer {
    background:#D3B79C;
    text-align: center;
    margin: 10rem 0 0 0;
    padding: 1rem;
}

footer a {
    color: #2929ff;
    text-decoration: underline;
}


/* toggle menu for navigation from https://codepen.io/bradfrost/pen/ndygmR */

a.menu-link {
    float: right;
      display: block;
      padding: 1em;
  }
  nav[role=navigation] {
      clear: both;
      -webkit-transition: all 0.3s ease-out;  
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
  }
  .js nav[role=navigation] {
      overflow: hidden;
      max-height: 0;
  }
  nav[role=navigation].active {
      max-height: 15em;
  }
  nav[role=navigation] ul {
      margin: 0;
      padding: 0;
      border-top: 1px solid #808080;
  }
  nav[role=navigation] li a {
      display: block;
      padding: 0.8em;
      border-bottom: 1px solid #808080;
  }
  
  @media screen and (min-width: 48.25em) {
      a.menu-link {
         display: none;
      }
      .js nav[role=navigation] {
          max-height: none;
      }
      nav[role=navigation] ul {
          margin: 0 0 0 -0.25em;
          border: 0;
      }
      
      nav[role=navigation]  li {
          display: inline-block;
          margin: 0 0.25em;
      }
      nav[role=navigation] li a {
          border: 0;
      }
  }
